* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --first-color: #edede9;
    --second-color: #be95c4;
    --third-color: #9f86c0;
    --fourth-color: #5e548e;
    --fifth-color: #231942;
}

body {
    background-color: var(--fifth-color);
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 2rem;
    color: var(--first-color);
    margin: 20px;
    font-weight: 800;
    /* background-color: var(--fourth-color);
    padding: 15px 20px;
    border-radius: 20%; */
}

#img-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}

#image {
    width: 80%;
    height: auto;
    border: 2px solid var(--second-color);
    border-radius: 10%;
}

#img-caption {
    font-style: italic;
    color: var(--first-color);
    margin: 10px 0 20px 0;
}

#tribute-info {
    text-align: justify;
    margin: 20px 0 20px 0;
    color: var(--first-color);
    font-size: 1.1rem;
    font-weight: 400;
}

#tribute-timeline {
    max-width: 700px;
}

#tribute-timeline li {
    margin: 10px 0 0 0;
    text-align: justify;
    color: var(--first-color);
    font-weight: 500;
}

#tribute-additional-info {
    font-size: 1.8rem;
    margin: 20px 0 20px 0;
    color: var(--first-color);
}

#tribute-link {
    color: var(--fourth-color);
}

.highlight {
    color: var(--third-color);
}
